@charset 'UTF-8';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
background-color:#fff;
color: #435051;
font-size: 17px;
font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

b {
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 52px 0 32px -8px;
}

p {
    line-height: 1.8;
    color: #566566;
}

#wrapper{
width:800px;
margin:auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    border-bottom: rgba(67, 80, 81, .2) 1px solid;
}

a {
    color: inherit;
}

header a {
    text-decoration: none;
    font-weight: bold;
}
header a:hover {
    text-decoration: underline;
}

main {
    padding: 10px 10px 60px;
}

section {
    padding: 8px;
}

.menu-nav ul{
    display: flex;
}
.menu-nav li {
    margin-left: 20px;
}

.tim{
    width: 80px;
}

.intense-button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 12px;
    min-height: 48px;
    border-radius: 30px;
    margin: 40px auto 30px;
    width: 340px;
    box-shadow: rgba(86, 101, 102, 0.3) 0 4px 30px -3px;
    transition: background 100ms;
}
.intense-button img {
    margin-right: 16px;
}
.intense-button span {
    font-weight: bold;
}

.intense-button:hover {
    background: rgba(86, 101, 102);
}

.intense-button:hover  span{
    color: #fff;
}

.ct{
vertical-align:middle;
}

th {
    font-weight: bold;
}
.rule-example {
    padding: 16px;
    border: 1px solid rgba(67, 80, 81, .4);
    margin: 16px;
    border-radius: 6px;
    color: #626f70;
    font-size: .95rem;
}
.rule-example .section {
    padding: 10px 0;
}
.rule-example .h {
    font-weight: bold;
    margin-bottom: 8px;
}
.rule-example .item {
    margin-bottom: 10px;
}
.rule-example .item::before {
    content: '-';
}

textarea{
    width: 90%;
    height:90px;
    margin: 0 auto;
    font-size: 0.8rem;
    font-family: inherit;
    padding: 8px;
    border-radius: 4px;
}

.cent{
margin:auto;
text-align:center;
width:100%;
}

.icon-list {
    margin-top: 48px;
}
.icon-list li {
    margin-bottom: 12px;
}
.icon-list img {
    vertical-align: middle;
}
.icon-list span {
    margin-left: 12px;
}

.generator-list {
    margin: 20px;
}
.generator-list li {
    margin-bottom: 16px;
}
.generator-list select, .generator-list .number {
    border: 1px solid rgba(67, 80, 81, .4);
    font-size: 1.2rem;
    font-family: inherit;
    height: 2.4rem;
    padding: 0 8px;
    border-radius: 8px;
    color: inherit;
}

.red{
color:#C50019;
}

.green{
color:#00A9CD;
}

.required{
	color:#ff9900;
	font-weight: bold;
}

.prohibited{
	color:#d10000;
	font-weight:bold;
}

.permitted{
	color:#6ebc00;
	font-weight:bold;
}

h3{
	margin-top:40px;
}

#verlist{
	list-style-type: none;
margin: 0;
padding: 0;
}

#verlist li{
margin: 0;
margin-top:20px;
padding: 0;
list-style-position:outside;
}