.wrapper {
  max-width: 800px;
  padding: 40px 40px 80px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin: 32px 0 48px;
  }

  h2 {
    margin: 84px 0 16px;
  }

  h3 {
    margin: 32px 0 16px;
  }
}

.header {
  display: flex;
  justify-content: flex-end;
}

.badge {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
